<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.menu.dao.MenuDao">
    <!--查询全部菜单-->
    <select id="listMenus" resultType="com.xzsd.pc.menu.entity.Menu">
        select
            menu_id menuId,
            menu_name menuName,
            menu_path menuPath,
            parent_menu parentMenu,
        	version,
            menu_comment menuComment
        from t_sys_menu
        where is_delete = 0
        order by create_time
    </select>
    <!--删除菜单-->
    <update id="deleteMenu" parameterType="com.xzsd.pc.menu.entity.Menu">
        update t_sys_menu
        set is_delete = 1,
        update_time = now(),
        update_user = #{updateUser}
        where menu_id = #{menuId};
        update t_sys_menu_role
        set is_delete = 1,
        update_time = now(),
        update_user = #{updateUser}
        where menu_id = #{menuId};
    </update>

    <!--新增菜单-->
    <insert id="insertMenu" parameterType="com.xzsd.pc.menu.entity.Menu">
        insert into t_sys_menu
           (menu_id,
            menu_name,
            menu_path,
            parent_menu,
            is_delete,
            menu_comment,
            create_time,
            create_user,
            update_time,
            update_user,
            version
          ) values (
            #{menu.menuId},
            #{menu.menuName},
            #{menu.menuPath},
            #{menu.parentMenu},
            #{menu.isDelete},
            #{menu.menuComment},
            now(),
            #{menu.createUser},
            now(),
            #{menu.updateUser},
            0);
            <foreach collection="roles" item="item" index="index">
                insert into t_sys_menu_role (
                role,
                menu_id,
                is_delete,
                create_time,
                create_user,
                update_time,
                update_user,
                vesion
                ) values (
                #{item},
                #{menu.menuId},
                #{menu.isDelete},
                now(),
                #{menu.createUser},
                now(),
                #{menu.updateUser},
                0
                );
            </foreach>
    </insert>

    <!--修改菜单信息-->
    <update id="updateMenu" parameterType="com.xzsd.pc.menu.entity.Menu">
        update t_sys_menu
           set menu_name    = #{menuName},
               menu_path     = #{menuPath},
               version      = version + 1,
               menu_comment = #{menuComment},
               update_time = now(),
               update_user = #{updateUser}
         where menu_id = #{menuId}
    </update>
    <!--根据角色代码查询已授权的菜单信息-->
    <select id="listRoleMenusBy" resultType="com.xzsd.pc.menu.entity.Menu">
        select  r.menu_id menuId,
        menu_name menuName,
        menu_path menuPath
        from t_sys_menu m
        right join t_sys_menu_role r
        on m.menu_id = r.menu_id
        where r.is_delete = 0
        and r.role = #{roleCode}
    </select>
    <!--查询菜单详情-->
    <select id="getMenu" resultType="com.xzsd.pc.menu.entity.Menu" parameterType="java.lang.String">
        select menu_name menuName,
        menu_path menuPath,
        menu_comment menuComment,
        version
        from t_sys_menu
        where menu_id = #{menuId}
    </select>
</mapper>