<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.slideshowHome.dao.SlideshowHomeDao">
    <!--新增商品-->
    <insert id="addSlideshowHome" parameterType="com.xzsd.pc.slideshowHome.entity.SlideshowHomeInfo">
        insert into
        t_info_goods (
        goods_id,
        isbn,
        goods_name,
        goods_original_cost,
        goods_price,
        goods_inventory,
        one_classify_id,
        two_classify_id,
        goods_advertise,
        goods_describe,
        supplier_name,
        goods_image_path,
        goods_author,
        goods_press,
        goods_views_num,
        goods_sales,
        is_delete,
        create_user,
        create_time,
        update_user,
        update_time,
        version
        ) values (
        #{goodsId},
        #{isbn},
        #{goodsName},
        #{goodsOriginalCost},
        #{goodsPrice},
        #{goodsInventory},
        #{oneClassifyId},
        #{twoClassifyId},
        #{goodsAdvertise},
        #{goodsDescribe},
        #{supplierName},
        #{goodsImagePath},
        #{goodsAuthor},
        #{goodsPress},
        0,
        0,
        #{isDelete},
        #{createUser},
        now(),
        #{updateUser},
        now(),
        #{version}
        );
    </insert>

</mapper>